<header>
  <div class="encabezado">
    <h1>SUPERMERCADO </h1>
    <span class="buscador">
      <input placeholder="Buscar en supermercado..." aria-describedby="basic-addon2">
      <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon2"></span>
    </span>
    <div class="carrito">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </div>
  </div>
</header>
<!--fin cabecera-->

<!--listado de productos-->
<section>
    <ul>
        <li *ngFor="let producto of productos"> <b>{{producto.nombre}}</b>
        </li>
      </ul>

      <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p>...</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
        </div>
      </div>




</section>
