h1{
    padding-left: 30%;
    font-size: 1em;
    font-weight: 600;
    color:rgb(209, 208, 208);
    margin-top:0;
    padding-top: 10px;
    display:inline-block;

}
header{
    text-align: center;
    height: 50px;
    background-color: rgb(56, 56, 56);
    margin-top: 0;
}

.carrito{
    //display:inline-block;
    background-color: rgb(56, 165, 56);
    width: 10%;
    height: 50px;
    float: right;
    color: white;

}

.glyphicon-shopping-cart{
    font-size: 2em;
    padding-top:5px;
    color:white;
}

.glyphicon-search{

    width:23px;
    height: 20px;
}

.buscador{
    padding-left: 10%;
    display: inline-block;

}

.badge{
    float: left;
    background-color: green;
}

section{
    margin-top:20px;
}